<%content_for :menu do%>
<%= render :partial => 'common/menu', :locals => {:curr => 'Sign up'} -%>
<%end%>
<%content_for :content do %>

	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "pure-form pure-form-aligned"}) do |f| %>
		<fieldset>
			 	<legend>Sign up</legend>
			 	<!-- <li><%= devise_error_messages! %></li> -->
		    	<div class="pure-control-group">
	                <%= f.label :"username:"%>
	                <%= f.text_field :username, :autofocus => true %>
	            </div>
	            <div class="pure-control-group">
	                <%= f.label :"email:"%>
	                <%= f.email_field :email%>
	            </div>
	            <div class="pure-control-group">
	                <%= f.label :"password:" %>
	                <%= f.password_field :password %>
	            </div>
	            <div class="pure-control-group">
	                <%= f.label :"password_confirmation:" %>
	                <%= f.password_field :password_confirmation %>
	            </div>
				<div class="pure-controls">
		            <label for="cb" class="pure-checkbox">
		                <input id="cb" type="checkbox"> I've read the terms and conditions
		            </label>
		            <%= f.submit "Sign up", class: 'pure-button pure-button-primary' %>
		        </div>
		</fieldset>
	<% end %>

	<%= render "devise/shared/links" %>
<% end %>


