
<%content_for :menu do%>
  <%= render :partial => 'common/menu', :locals => {:curr => 'Book'}-%>
<%end%>
<%content_for :content do %>
<p id="notice"><%= notice %></p>
<div class="book-detail">
  <p>
    <b>Name:</b>
    <%= @book.name %>
  </p>

  <p>
    <b>Description:</b>
    <%= raw @book.description %>
  </p>

  <p>
    <b>Author:</b>
    <%= @book.author %>
  </p>

  <p>
    <b>Publisher:</b>
    <%= @book.publisher %>
  </p>

  <p>
    <b>Published at:</b>
    <%= @book.published_at.strftime('%Y-%m-%d') %>
  </p>

  <p>
    <span class="book-download"><%= link_to 'Download', @book.download_url, class: 'pure-button pure-button-success', target: '_blank'%></span>
  </p>
</div>

<%end%>
