<%content_for :menu do%>
	<%= render :partial => 'common/menu', :locals => {:curr => 'Sign in'} -%>
<%end%>
<%content_for :content do %>


	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "pure-form pure-form-aligned"}) do |f| %>
		<fieldset>
			 	<legend>Sign in</legend>
		    	<div class="pure-control-group">
	                <%= f.label :"username:"%>
	                <%= f.text_field :login, :autofocus => true %>
	            </div>
	            <div class="pure-control-group">
	                <%= f.label :"password:" %>
	                <%= f.password_field :password %>
	            </div>

	            <% if devise_mapping.rememberable? -%>
<!-- 		            <li>
		                <%= f.check_box :remember_me %><%= f.label :remember_me, :class => "bold" %>
		            </li> -->
				<% end -%>
				<div class="pure-controls">
		            <label for="cb" class="pure-checkbox">
		                <input id="cb" type="checkbox"> I've read the terms and conditions
		            </label>
		            <%= f.submit "Sign in", class: 'pure-button pure-button-primary' %>
		        </div>
		</fieldset>
	<% end %>

	<%= render "devise/shared/links" %>
<%end%>


