<%content_for :nav do%>
<%= render :partial => 'common/nav', :locals => {:curr => 'Home'} -%>
<%end%>
<%content_for :content do %>
  <div class="row">
    <div class="threequarter">
    <% @posts.each do |post|%>
            <div class="article truncate">
              <h2><%= link_to post.title,  post, :class => "post-title"-%></h2>
              <div class="article-content"><%= post.description-%>...<span class="bg-blue"><%= link_to "Read More", post, :class=> "label more"%></span></div>
            </div>
    <% end %>
    </div>
    <%= render :partial => 'common/siderbar' -%>
  </div>
  
<% end %>

