<!DOCTYPE html>
<html>
<head>
  <title>I'm on my way</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="pure-g-r" id="layout">
		<%= yield :menu %>
	    <div class="pure-u-1" id="container">
	    	<div id="toolbar" class="pure-g-r">
	    		<div class="pure-u-3-5"></div>
	    		<div id="search-form" class="pure-u-2-5">
	    		<%= form_tag('/search', class: 'pure-form') do%>
	    			<%= text_field_tag 'search', '', class: 'pure-input-rounded'%>
	    			<%= submit_tag 'Search', class: 'pure-button', id: "search_btn"%>
	    		<%end%>
	    		</div>
	    	</div>
	    	<div class="tags-cloud" id="tags">

	    	</div>
	        <div class="content">
	        	<%= yield :content %>
	   
	        </div>
	       
	    </div>

	</div>
		    <%= render 'common/footer' -%>
</body>
</html>
